<% provide(:title, "夢の記録") %>
<div class="dream-index">
  <div class="dream-index-title d-flex">
    <h1>みんなの夢の記録</h1>
    <%= form_tag dreams_path, method: :get, class: 'dreams_searchform ml-auto' do %>
    <%= select_tag :tag_id,
    options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]),
                                      {
                                        prompt: 'タグで検索',
                                        class: 'form-control dreams_select',
                                        onchange: 'submit(this.form);'
                                      }
    %>
    <% end %>
  </div>
  <%= render 'search_tag', records: @records %>
</div>
