<h1 class="show-title">
  <%= @record.sleep_time.to_s(:date_jp) %>~<%= @record.getup_time.to_s(:date_jp) %>の記録
</h1>
<table class="table center show-table">
  <%= render 'record_edit', record: @record %>
