<% provide(:title, "#{@record.sleep_time.to_s(:date_jp)}~#{@record.getup_time.to_s(:date_jp)}") %>
<div class="record_edit_box mb-4">
  <h1 class="show-title">
    <%= @record.sleep_time.to_s(:date_jp) %>~<%= @record.getup_time.to_s(:date_jp) %>の記録
  </h1>
  <%= render 'record_edit', record: @record %>
  </div>
