/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';
 @import url('https://fonts.googleapis.com/css?family=M+PLUS+1p');
 @import 'common';
 @import 'statics_pages.scss';
 @import 'records';
 @import 'dreams';
 @import 'dream_posts';
 @import 'comments';

// header
.fixed-top {
  background: #00001d;
  text-shadow: 0 0 5px #01033e,0 0 10px #fff;
  box-shadow: 0px 3px 10px -3px  #FFF;
  font-family: 'M PLUS 1p', sans-serif;
}

// footer
footer{
  .fixed-bottom{
    background: #01023b;
    text-shadow: 0 0 5px #01033e,0 0 10px #fff;
    box-shadow: 0px -3px 7px -4px #FFF;
    font-family: 'M PLUS 1p', sans-serif;
  }
}

.logo_image_size{
  height: 40px;
  width:40px;
  margin-bottom: 10px;
}
  #logo {
    font-size: 2em;
    letter-spacing: 1px;
    text-align: center;
    color: #FFF;
  	text-shadow: 0 0 8px #fff;
  }
  #logo:hover {
    color: #fff;
    text-decoration: none;
  }

// ログイン

#login .container #login-row #login-column #login-box {
  margin-top: 40px;
  max-width: 600px;
  height: 350px;
  border: 1px solid #9C9C9C;
  background-color: #092b61;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}

// 新規登録フォーム

#signup .container #signup-row #signup-column #signup-box {
  margin-top: 40px;
  max-width: 600px;
  height: 530px;
  border: 1px solid #9C9C9C;
  background-color: #092b61;
}
#signup .container #signup-row #login-column #signup-box #signup-form {
  padding: 20px;
}
#signup .container #signup-row #signup-column #signup-box #signup-form #register-link {
  margin-top: -85px;
}

// パスワード変更

#password .container #password-row #password-column #password-box {
  margin-top: 40px;
  max-width: 600px;
  height: 250px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}
#password .container #password-row #password-column #password-box #password-form {
  padding: 20px;
}
#password .container #password-row #password-column #password-box #password-form #register-link {
  margin-top: -85px;
}

// パソコン表示
.sp { display: none !important; }
// スマートフォン表示
@media only screen and (max-width: 750px) {
.pc { display: none !important; }
.sp { display: block !important; }

 h1{
   font-size: 3em;
   margin: 15px 0 7px 0;
   letter-spacing: -2px;
   text-align: left;
   color: #FFF;
 	 text-shadow: 0 0 5px #0000ff,0 0 8px #fff;
 }

#title{ margin: 30px 0 60px 0; }

 h3{ margin-top: 10px;
     padding: 0;
 }

 h4{ margin: 30px 0 30px 0;}

 #error_explanation{
   h2{font-size: 1.2rem}
   ul{padding: 0;}
   li{color: red;}
 }

 .page-link{
   font-size: 0.6rem;
   padding: 2px 4px;
 }

 #signup .container #signup-row #signup-column #signup-box{
   margin: 20px 0;
 }

 #login .container #login-row #login-column #login-box {
   margin: 20px 0;
 }

 .user_name{
   font-size: 0.9em;
 }

//  トップページ
 .top-main-wrapper {
   h1 {
     font-size: 4em;
     letter-spacing: -2px;
     margin: 60px 0 120px 0;
     text-align: center;
     color: #FFF;
   	text-shadow: 0 0 10px #0000ff,0 0 15px #fff;
   }
   p{
     margin-bottom: 0;
   }
   .btn-top{
     font-size: 10px;
   }
 }

 .sample-display-box{
   p{
     font-size: 1.0em;
     letter-spacing: -1px;
     padding: 0 10px;
     margin: 15px 0 10px 0;
     text-align: center;
     color: #FFF;
   	text-shadow: 0 0 10px #0000ff,0 0 4px #fff;
   }
 }

//  記録ページ
 .table{
   th{ text-align: center;
       font-size: 0.9rem;
       padding: 6px;
       width: 40%;
   }
   td{
     font-size: 0.7rem;
     padding: 6px;
     text-align: center;
   }
 }

 .btn-sp{ font-size: 0.8rem;
          padding: 3px 6px;
 }

 .btn-next{
            margin-top: 7px;
            padding: 3px 6px;
  }
.sleep_record_index{
  h1{font-size: 2.0rem;}
  .font-align{text-align: center;}
}

 .record-label{
              padding: 0;
              margin: 15px 60px 0 0;
              width: auto;
              font-size: 1.8rem;
              }

  .form-label{ font-size: 1.0rem; }

  .label-text{ font-size: 1.3rem; }

  select{font-size: 1.0rem;
         padding: 10px;
        }

  #record_sleep_time_2i{ padding: 6px;}
  #record_sleep_time_3i{ padding: 6px;}
  #record_sleep_time_4i{ padding: 6px;}
  #record_sleep_time_5i{ padding: 6px;}

  #record_getup_time_2i{ padding: 6px;}
  #record_getup_time_3i{ padding: 6px;}
  #record_getup_time_4i{ padding: 6px;}
  #record_getup_time_5i{ padding: 6px;}
  .record_detail{
    margin-bottom: 15px;
    .card-header{
      h5{font-size: 1.5rem;}
    }
    .card-body{
      h6{font-size: 1.2rem;}
      a{float: right;}
    }
  }
  .alert{
    ul{padding: 0;}
  }
  p{font-size: 0.8rem;}

  .average-time{font-size: 2.0rem;}

  .show-title{
              font-size: 1.5rem;
              margin: 15px 0;
            }

  .nav-item{text-align: left;}

  .dreams_path_position{display: none;}

  .card-header{
    font-size: 1.0rem;
    padding: 6px 10px;
    h5{font-size: 1.5rem;}
    a{font-size: 0.8rem}
    .badge{font-size: 0.7rem;}
  }

  .card-body{
    padding: 10px;
    .card-text{font-size: 0.6rem;}
    a{font-size: 0.8rem}
  }

  .dream-index{
    .dream-index-title{
      h1{font-size: 1.5em;}
   }
    .dreams_select{
      font-size: 0.6rem;
      padding: 3px 6px;
    }
    .card-header{
      font-size: 1.2rem;
      font-weight: bold;
      .date-font-size{
        font-size: 0.8rem;
      }
    }
    .card-body{font-size: 0.8rem}
  }

    .dream-detail{
    .card-header{font-size: 1.5rem;
      span{font-size: 1.0rem;}
    }
    .card-body{font-size: 0.8rem;}
  }

  .card_dream_show_sp{
    margin-top: 20px
  }

  // コメント
  .comment_item{
    strong{
      font-size: 1.3em;
      letter-spacing: -2px;
      color: #FFF;
    	text-shadow: 0 0 3px #0000ff,0 0 5px #fff;
      margin-right: 10px;
    }
    .comment_font_size{
      font-size: 0.8rem;
      color: #FFF
    }
    .comment_bottomline{
      text-align: right;
      border-bottom: 1px solid #dfdfdf;
    }
    .comment_update_time{
      color: #c0c0c0;
      font-size: 0.6rem;
    }
    .delete-comment{
      color: red;
      font-size: 0.6rem;
    }
  }
}
