<h4 class="text-center">睡眠記録アプリ</h4>
<h1 id="title" class="text-center">仮タイトル</h1>
<div class="center">
  <%= link_to "ログイン",new_user_session_path, class: "btn btn-lg btn-top " %>
  <%= link_to "新規登路",new_user_registration_path, class: "btn btn-lg btn-top " %>
</div>
<p>
  【仮タイトル】は毎日の睡眠時間、日々の気分や行動を記録し
  自分にあった睡眠時間を見つける、そんなアプリケーションです
</p>
