<h4 class="text-center">睡眠記録アプリ</h4>
<h1 class="text-center display-4 ">仮タイトル</h1>

<div class="center">
　<%= link_to "ログイン",new_user_session_path, class: "btn btn-lg btn-top " %>
  <%= link_to "新規登路",new_user_registration_path, class: "btn btn-lg btn-top " %>
</div>

<p>
  【みんかつ】は毎日の睡眠時間、日々の気分や行動を記録し</br>
  自分にあった睡眠時間を見つける、そんなアプリケーションです
</p>
    



<!--<div class="container">-->
<!--  <div class="row">-->
<!--    <div class="col-lg-4">-->
<!--      <div class="top-wrapper  rounded-circle">-->
<!--        <div class="text-content">-->
<!--        <h2>毎日の睡眠時間を記録</h2>-->
<!--          <p>あああああああああああああああああああああああああああああああ</p>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="col-lg-4">-->
<!--      <div class="top-wrapper  rounded-circle">-->
<!--          <div class="text-content">-->
<!--        <h2>目覚めの気分を記録</h2>-->
<!--          <p>あああああああああああああああああああああああああああああああ</p>-->
<!--          </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="col-lg-4">-->
<!--      <div class="top-wrapper  rounded-circle">-->
<!--          <div class="text-content">-->
<!--         <h2>まだ未定</h2>-->
<!--          <p>あああああああああああああああああああああああああああああああ</p>-->
<!--          </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="row">-->
<!--    <div class="col-md-6 offset-md-3">-->

<!--</div>-->
<!--  </div>-->
<!--</div>-->
