<div class="top-main-wrapper">
  <p class="center">睡眠記録アプリ</p>
  <h1 id="title" class="center">SleepApp</h1>
  <div class="center">
    <%= link_to "ログイン",new_user_session_path, class: "btn btn-lg btn-top " %>
    <%= link_to "新規登路",new_user_registration_path, class: "btn btn-lg btn-top " %>
</div>
<div class="row justify-content-center">
  <p>
    <span>SleepApp</span>は毎日の睡眠時間、日々の気分や行動を管理するアプリケーションです。</br>
    日々の記録によって表示されるキャラクターが成長していきます。</br></br>
    その日に見た夢を記録につけて他のユーザーと共有したりと</br>
    楽しみながら記録を付けることが出来ます。
  </p>
  </div>
</div>
