<h1 class="text-center display-4">あなたの最適な睡眠時間は?</h1>
<p class="text-center">毎日の睡眠時間を記録してあなたに合った最適な睡眠時間を知ろう!</p>

<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <div class="top-wrapper bg-info rounded-circle">
        <div class="text-content">
        <h2>毎日の睡眠時間を記録</h2>
          <p>あああああああああああああああああああああああああああああああ</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="top-wrapper bg-info rounded-circle">
          <div class="text-content">
        <h2>目覚めの気分を記録</h2>
          <p>あああああああああああああああああああああああああああああああ</p>
          </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="top-wrapper bg-info rounded-circle">
          <div class="text-content">
         <h2>まだ未定</h2>
          <p>あああああああああああああああああああああああああああああああ</p>
          </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="center">
        <%= link_to "ログイン",new_user_session_path, class: "btn btn-lg btn-secondary " %>
        <%= link_to "新規登路",new_user_registration_path, class: "btn btn-lg btn-secondary " %>
      </div>
    </div>
  </div>
</div>
