<footer class="pt-5">
  <div class="fixed-bottom">
    <div class="container ">
      <span class="logo-name" id="logo"><%= link_to "SleepApp", "/" %></span>
      <% if request.path == done_records_path %>
        <div class="dreams_path_position">
          <%= link_to "みんなが投稿した夢の記録をみてみよう！", dreams_path, class: "dream_index_link" %>
        </div>
      <% end %>
  </div>
</footer>
