<header class="navbar navbar-fixed-top bg-info navbar-expand-sm">
  <div class="container">
    <%= link_to "SleepRecord", "/", id:"logo" %>
    <% if user_signed_in? %>
    <div class="nav">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "アカウント編集", edit_user_registration_path%></li>
        <li><%= link_to "一覧", '#'%></li>
        <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
      </ul>
    </div>
    <% end %>
  </div>
</header>